@font-face {
  font-family: 'Web437_Cordata_PPC-400';
  src: url('../public/fonts/Web437_Cordata_PPC-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 25px 0;
  box-sizing: border-box;
}

.headings {
  text-align: center;
  font-family: "Web437_Cordata_PPC-400", monospace;
  padding: 0 20px;
  z-index: 10;
}

h1 {
  font-size: 12pt;
  color: rgb(0, 255, 70);
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

h2 {
  font-size: 12pt;
  color: rgb(50, 50, 50);
  opacity: 1;
  margin: 0;
  padding-top: 3px;
  letter-spacing: 2px;
}

#sketch-holder {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

canvas {
  display: block;
  width: 800px;
  image-rendering: pixelated;
  filter: brightness(1.2) contrast(1.1) saturate(1.1);
}

.neon-button {
  font-family: "Web437_Cordata_PPC-400", monospace;
  font-size: 10pt;
  color: rgb(0, 255, 70);
  background-color: black;
  border: 1px solid rgb(0, 255, 70);
  padding: 6px 12px 4px 12px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  letter-spacing: 2px;
}

.neon-button:hover {
    border-color: black;
    background-color: rgb(0, 255, 70);
    color: black;
    cursor: pointer;
    transition: all 0.1s ease;
}

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.side-text {
  display: flex;
  align-items: center;
  width: 150px;
}

/* Left side text alignment */
.side-text:first-child {
  justify-content: flex-end;
}

/* Right side text alignment */
.side-text:last-child {
  justify-content: flex-start;
}
